
<div class="resultForm">
<h1> Check Charge Status</h1>
<p><%= "Order status: #{@order.payment_status}" %></p>
<p><%= "Number order id: #{@order.id}" %></p>
<p><%= "type of currency: #{@order.currency}" %></p>
<p><%= "total amount: #{@order.amount/100} pesos" %></p>
<hr>
<h3><%= "Info Client:" %></h3>
<p><%= "Name: #{@order.customer_info.name}" %></p>
<p><%= "Email: #{@order.customer_info.email}" %></p>
<hr>
<h3><%= "Info Products:" %></h3>
<!--Mostrar los productos que se han procesado -->
<!--<p><%= @order.inspect %></p>-->
</div>