<div class="titulos" id="sexos">
<h2>Aquí comienza el primer paso para alcanzar tu meta</h2>  
</div>

<div class="resultForm">
  <% if @errors %>
  	<% @errors.each do |error| %>
    	<div class='card-errors'><%= error.message %></div>
  	<% end %>
  <% end %>
  <%= form_tag("/results/charge", method: "post", id: "card-form") do %>
    <div class="card-errors"></div>
	<%= label_tag(:card_number, "Numero de tarjeta") %>
	<%= text_field(:card, :number, 'data-conekta' => 'card[number]', 'autocomplete' => 'off') %>
	<br />
	<%= label_tag(:name, "Nombre del propietario de la tarjeta") %>
	<%= text_field(:card,:name, :name => 'name', 'data-conekta' => 'card[name]', 'autocomplete' => 'off') %>
	<br />
	<%= label_tag(:exp_fecha, "Fecha de expiración (MM/AAAA)") %>
	<%= text_field(:card,:exp_month, :name => 'exp_month', 'data-conekta' => 'card[exp_month]', 'size' => 2) %>
	<%= text_field(:card,:exp_year, :name => 'exp_year', 'data-conekta' => 'card[exp_year]', 'size' => 4) %>
	<br />
	<%= label_tag(:cvc, "CVC de la tarjeta") %>
	<%= text_field(:card, :cvc, 'data-conekta' => 'card[cvc]', 'autocomplete' => 'off', 'size' => 4) %>
	<br />
	<%= label_tag(:email, "Correo") %> <!-- param para el paso 3-->
	<%= email_field_tag(:email) %>
	<br />
	<button>Comprar</button>
 <% end %>
</div>